.App > div {
  max-width: 33%;
  margin: 0 auto;
}

.App > div > div {
  display: flex;
}

.App > div > div > input {
  width: 100%;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 4px;
  text-align: left;
  margin: 0 auto;
}

li {
  border-bottom: 1px dashed black;
}

li > div {
  display: flex;
  gap: 4px;
  justify-content: space-between;
}

li > div > span {
  width: 100%;
}

li > div > button {
  background: red;
  color: white;
  border: none;
}

.done {
  color: green;
  text-decoration: line-through;
}

@media (max-width: 900px) {
  .App > div {
    max-width: 95%;
  }
} 
